/*
.overrides_custom css

Place styles for simple UI customization in this file.

This file is loaded after all other CSS, so selectors here will win in case of conflict with default rules.

Using this file to customize is the method most likely to conserve your customizations even if markup changes in future product releases.

Extensive customizations may be easier to implement by replacing one or more of the standard theme files in your custom theme folder.

However, if future product releases place styles for new markup components into the files you have replaced, your theme will not have these new styles,
and therefore, will not display the new components correctly.

*/

#logo {
	width:140px;
	height:30px;
	background:url(images/Bb_logo.png) no-repeat 0 0 transparent;
	border:none;
    margin:4px 8px 4px 8px;
    
}

#loginPage #welcome .logo {
    display: none;
}

#loginPage #welcome, #loginPage .community #welcome {
    background-color: #ffffff;
}

#loginPage #welcome .text {
    color: #1388d8;
    font-size: 28px;
    font-weight: normal;
   display: line-block;  
}

#loginPage #rotating > .primary,
#loginPage #rotating > .secondary {
    display: none;
}

#loginPage #copy,
#loginPage .info > .content {
    background-color: #ffffff;
}
