/*
.overrides_custom css

Place styles for simple UI customization in this file.

This file is loaded after all other CSS, so selectors here will win in case of conflict with default rules.
ß
Using this file to customize is the method most likely to conserve your customizations even if markup changes in future product releases.

Extensive customizations may be easier to implement by replacing one or more of the standard theme files in your custom theme folder.

However, if future product releases place styles for new markup components into the files you have replaced, your theme will not have these new styles,
and therefore, will not display the new components correctly.

*/

/* Setting "BlackboardTransact" logo in Login Page -Welcome-  area */
#loginPage #welcome .logo {
  background:url(images/bb_logo_welcome.png) no-repeat 0  transparent;
      
}   

/* Hiding  Amazon logo */
#amazonLogo {
  background-image: none;
}

/* Hiding Need Help buttom */
#needHelp {
    display: none;
}

/* Hiding Text in LoginPage primary  block */
#loginPage #rotating > .primary {
   visibility: hidden;
}

/* Hiding Text in LoginPage Secondary block */

#loginPage #rotating > .secondary {
    position: absolute;
    visibility: hidden;
}

/* Login page. Posting a Text in Secondary block  */
#loginPage #rotating > .secondary h2:after {
    font-size: 25px;
    font-weight: normal;
   # margin-bottom: .4em;
    content:'Welcome to Card Reports Center';
    align-content: center;
    visibility: visible;
}



/* Setting BB Logo located in the Barner */
#logo {
	width:140px;
	height:26px;
	background:url(images/bb_logo.png) no-repeat 0 0 transparent;
	border:none;
    margin:4px 8px 2px 10px;
    
}
