/*
.overrides_custom css

Place styles for simple UI customization in this file.

This file is loaded after all other CSS, so selectors here will win in case of conflict with default rules.
ß
Using this file to customize is the method most likely to conserve your customizations even if markup changes in future product releases.

Extensive customizations may be easier to implement by replacing one or more of the standard theme files in your custom theme folder.

However, if future product releases place styles for new markup components into the files you have replaced, your theme will not have these new styles,
and therefore, will not display the new components correctly.

*/

/* Blackboard Welcome Logo */
#loginPage #welcome .logo {
  background:url(images/bb_logo_welcome.png) no-repeat 0  transparent;
      
}   

/* Hide  Amazon logo */
#amazonLogo {
  background-image: none;
}

/* Hide Need Help buttom */
#needHelp {
    display: none;
}

#loginPage #rotating > .primary {
   visibility: hidden;
}


#loginPage #rotating > .secondary {
    position: absolute;
    visibility: hidden;
}

#loginPage #rotating > .secondary h2:after {
    font-size: 25px;
    font-weight: normal;
   # margin-bottom: .4em;
    content:'Welcome to Card Reports Center';
    align-content: center;
    visibility: visible;
}



/*
#loginPage #rotation > .secondary:after {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: .4em;
    text-align: center;  
    content:'Welcome to Reports Center'; 
    visibility: visible;
}
*/
/*
#loginPage #frame {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: .4em;
    text-align: center;
    content:'Welcome to Reports Center';
}
*/


/* Logo located in the Barner */
#logo {
	width:140px;
	height:26px;
	background:url(images/Bb_logo.png) no-repeat 0 0 transparent;
	border:none;
    margin:4px 8px 2px 10px;
    
}
